div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated{
    transform: perspective(10px) translateZ(-10px) ;
}
.scaled{
    margin: 45px;
    transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateY(30deg) ;
}

/* Why we don't need to use use perspective with rotate*/