.container{
    height: 400px;
    border: 2px solid aqua;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    

}
.box{
    border: 1px solid red;
   background-color: aqua;
}
